body { 
    padding: 2px;
    margin: 2px;  
    width: 500px;
    height: 50px;
    background: rgb(0, 213, 255);
    border: 1px, solid black;
}

#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 2;
    overflow: hidden;
}

#block{
    width: 50px;
    height: 600px;
    background-color: grey;
    position: relative;
    left: 400 px;
    animation: block 2s infinite linear;
}

#character{
    width:20px;
    height:20px;
    background: red;
    position: absolute;
    top: 250px;
    border-radius: 50%;
}

#hole{
    width: 50px;
    height: 90px;
    background-color: rgb(0, 213, 255);
    position : relative;
    left: 400px;
    top: -300px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0%{left:400px}
    100%{left:-50px}
}

b { 
    padding: 2;
    margin: 2;
    width: 1000px;
    height:50px;
    background: rgb(0, 213, 255);
}

c { 
    padding: 2;
    margin: 2;
    width: 1000px;
    height: 500px;
    background: rgb(0, 213, 255);
    border: 1px black;
}

a {
    padding: 2px;
    margin: 2px;
    border: 1px solid black;  
    background-color: yellow;
    padding: 10px;
}
